<div class="container" ng-controller="CloudProfileCtrl">

<script type="text/ng-template" id="confirm.html">
    <div class="modal-body">
        Profile Updated
        <button class="btn btn-primary" ng-click="ok()">Ok</button>
    </div>
</script>

<script type="text/ng-template" id="modalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Select Organization ID</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <input type="checkbox" checklist-model="selection.items" checklist-value="item">
                {{item.name}}
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Download</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


<h3>Resource Store</h3>
<hr/>
    <div class="well" ng-repeat="localCloudProfile in localCloudProfiles | orderBy: version | filter:needsUpdate()">
        <div class="row">
            <div class="col-md-3">
                <!--Suggest adding logos/images for each profile - see next line -->
                <!--<img src="{{localCloudProfile.image_url}}" alt="{{localCloudProfile.title}} logo" style="max-height: 80px; max-width: 200px;">-->
                <a href="https://github.com/VHAINNOVATIONS/InfoButtons/blob/development/profilestore/{{localCloudProfile.name}}"><img src="http://www.openinfobutton.org/_/rsrc/1290202364539/home/project_logo.jpg" alt="{{localCloudProfile.name}} logo" style="max-height: 40px; max-width: 100px;"></a> <br>{{localCloudProfile.name}}
            </div>
            <div class="col-md-3" style="margin-left: 2em;">
                <p>{{localCloudProfile.profileDescription}}</p>
            </div>
            <div class="col-md-3" style="margin-left: 2em;">
                <p><br> {{localCloudProfile.published | date:'medium'}}</p>
            </div>
            <div class="col-md-2 text-right">
                <button ng-click="update(localCloudProfile)" class="btn btn-primary btn-sm">Update</button>
            </div>
        </div>
    </div>
    <div class="well" ng-repeat="localCloudProfile in localCloudProfiles | orderBy: version | filter:isUpdated()">
        <div class="row">
            <div class="col-md-3">
                <!--Suggest adding logos/images for each profile - see next line -->
                <!--<img src="{{localCloudProfile.image_url}}" alt="{{localCloudProfile.title}} logo" style="max-height: 80px; max-width: 200px;">-->
                <a href="https://github.com/VHAINNOVATIONS/InfoButtons/blob/development/profilestore/{{localCloudProfile.name}}"><img src="http://www.openinfobutton.org/_/rsrc/1290202364539/home/project_logo.jpg" alt="{{localCloudProfile.name}} logo" style="max-height: 40px; max-width: 100px;"></a> <br>{{localCloudProfile.name}}
            </div>
            <div class="col-md-3" style="margin-left: 2em;">
                <p>{{localCloudProfile.profileDescription}}</p>
            </div>
            <div class="col-md-3" style="margin-left: 2em;">
                <p><br>{{localCloudProfile.published | date:'medium'}}</p>
            </div>
            <div class="col-md-2 text-right">
                <span>Current</span>
            </div>
            <div class="btn-group">
                <label class="btn btn-success" ng-click="updateStatus(localCloudProfile, 1)" ng-model="localCloudProfile.status" btn-radio="1">Enabled</label>
                <label class="btn btn-default" ng-click="updateStatus(localCloudProfile, 3)" ng-model="localCloudProfile.status" btn-radio="3">Disabled</label>
                <label class="btn btn-info" ng-click="updateStatus(localCloudProfile, 2)" ng-model="localCloudProfile.status" btn-radio="2">Test</label>
            </div>
        </div>
    </div>
    <div class="well" ng-repeat="cloudProfileLink in cloudProfileLinks | orderBy: version | filter:notInstalled(localCloudProfiles)">
        <div class="row">
            <div class="col-md-3">
                <!--Suggest adding logos/images for each profile - see next line -->
                <!--<img src="{{cloudProfileLink.image_url}}" alt="{{cloudProfileLink.title}} logo" style="max-height: 80px; max-width: 200px;">-->
                <a href="https://github.com/VHAINNOVATIONS/InfoButtons/blob/development/profilestore/{{cloudProfileLink.title}}"><img src="http://www.openinfobutton.org/_/rsrc/1290202364539/home/project_logo.jpg" alt="{{cloudProfileLink.name}} logo" style="max-height: 40px; max-width: 100px;"></a> <br>{{cloudProfileLink.title}}
            </div>
            <div class="col-md-3" style="margin-left: 2em;">
                <p>{{cloudProfileLink.profileDescription}}</p>
            </div>
            <div class="col-md-3" style="margin-left: 2em;">
                <p><br>{{cloudProfileLink.version | date:'medium'}}</p>
            </div>
            <div class="col-md-2 text-right">
                <button ng-click="openModal(cloudProfileLink)" class="btn btn-primary btn-sm">Download</button>
            </div>
        </div>
    </div>
</div>

<!--<ul ng-controller="CloudProfileCtrl">-->
    <!--<li ng-repeat="cloudProfileLink in cloudProfileLinks" class="thumbnail oibProfile-listing">-->
        <!--<a href="#/oibProfile/{{cloudProfileLink.url}}">{{cloudProfileLink.name}}</a>-->
    <!--</li>-->
<!--</ul>-->
