<div class="container" ng-controller="ProfileCtrl">
<style>
    .btn.active:enabled{
        outline: thin dotted;
        outline: 10px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .orange, .orange a {

        color: #FFA500;
    }

</style>

<script type="text/ng-template" id="modalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Select Organization ID</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <input type="checkbox" checklist-model="selection.items" checklist-value="item">
                {{item.orgName}}
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Change</button>
    </div>
</script>

<h3>Custom Resources<a class="btn navbar-btn glyphicon glyphicon-plus" href="#/editProfile/"></a></h3>
<hr/>

    <div class="well" ng-repeat="profile in localProfiles | orderBy:'-published'">
        <div class="row">
            <div class="col-md-3">
<!--Suggest adding logos/images for each profile - see next line -->                 
                <!--<img src="{{profile.image_url}}" alt="{{profile.name}} logo" style="max-height: 80px; max-width: 200px;">-->
                <span><a href="#/editProfile/{{profile.id}}">
                    <img src="{{profile.imageUrl}}" style="max-height: 40px; max-width: 100px;">
                    <img src="http://www.openinfobutton.org/_/rsrc/1290202364539/home/project_logo.jpg" style="max-height: 40px; max-width: 100px;" ng-hide="profile.imageUrl">
                </a></span>
                <a class="btn navbar-btn orange glyphicon glyphicon-pencil" ng-click="editOids(profile)"></a>
                <br>
                <span><a href="#/editProfile/{{profile.id}}" class="btn btn-link">{{profile.name}}</a></span>
            </div>
            <div class="col-md-3" style="margin-left: 2em;">
                <p>{{profile.profileDescription}}</p>
            </div>
            <div class="col-md-3" style="margin-left: 2em;">
                <p><br>{{profile.published  | date:'medium'}}</p>
            </div>
            <div class="btn-group" role="group" aria-label="status">
                <button type="button" class="btn btn-success" ng-click="updateStatus(profile, 1)" ng-model="profile.status" uib-btn-radio="1">Enabled</button>
                <button type="button" class="btn btn-default" ng-click="updateStatus(profile, 3)" ng-model="profile.status" uib-btn-radio="3">Disabled</button>
                <button type="button" class="btn btn-info" ng-click="updateStatus(profile, 2)" ng-model="profile.status" uib-btn-radio="2">Test</button>
            </div>
        </div>
    </div>

<!--    <pre>Local = {{localProfiles | json}}</pre>
    <pre>Cloud = {{cloudProfileLinks| json}}</pre>-->

</div>
