<div ng-controller="ProfileFormCtrl">
    <div class="container">
        <h2>Profile Editor</h2>
        <form name="profileForm" class="form-horizontal" role="form" validate>
            <div class="form-group" ng-hide="new">
                <label for="id" class="col-sm-2 control-label">ID:</label>
                <div class="col-sm-10">
                    <input id="id" class="form-control" type="text" ng-model="profile.id"/>
                    <!--<input id="id" class="form-control" type="text" ng-model="profile.id" readonly/>-->
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input id="name" required class="form-control" type="text" ng-model="profile.name" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Logo URL:</label>
                <div class="col-sm-10">
                    <input id="name" class="form-control" type="text" ng-model="profile.imageUrl"/>
                </div>
            </div>
            <div class="form-group" ng-hide="new">
                <label for="published" class="col-sm-2 control-label">Published Date:</label>
                <div class="col-sm-10">
                    <input id="published" class="form-control" type="text" ng-model="profile.published | date:'medium'" disabled/>
                </div>
            </div>
            <div class="form-group" ng-hide="new">
                <label for="status" class="col-sm-2 control-label">Profile Status:</label>
                <div class="col-sm-10">
                    <select id="status" class="form-control" type="text" ng-model="profile.status">
                        <option value="1">Active</option>
                        <option value="2">Testing</option>
                        <option value="3">Inactive</option>
                    </select>
                </div>
            </div>

            <div class="form-group ">
                <div class="form-group">
                    <ui-select ng-model="selected.property" on-select="clearSelectedCodes()">
                        <ui-select-match placeholder="Select Property...">{{$select.selected.propName}}</ui-select-match>
                        <ui-select-choices repeat = "property in properties | orderBy : 'name' | filter : $select.search track by property.name" >
                            <div ng-bind-html = "property.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group" ng-if="selected.property.propName == 'mainSearchCriteria.v'">
                    <ui-select ng-model="selected.property.codeSystem">
                        <ui-select-match placeholder="Select Code System...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat = "codeSystem in $select.selected | orderBy : 'name' | filter : $select.search track by codeSystem.name">
                            <div ng-bind-html = "codeSystem.name | highlight: $select.search"></div>

                        </ui-select-choices>
                    </ui-select>
                </div>

                <div ng-if="selected.property.propName != 'performer.languageCode.c' && selected.property.propName != 'informationRecipient.languageCode.c' &&
                                selected.property.propName != 'locationOfInterest.c' && selected.property.propName != 'mainSearchCriteria.v'">

                    <dropdown-multiselect model="selected_items" options="selected.property.codes"></dropdown-multiselect>
                    <div ng-repeat="item in selected_items track by item.id">
                        {{item.displayName}}
                    </div>
                </div>

                <label for="content" class="col-sm-2 control-label">Content:</label>
                <div class="col-sm-10">
                    <textarea id="content" rows="20" class="form-control" ng-model="profile.content" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-click="profileForm.$valid && update(profile)" class="btn btn-success" ng-hide="new">UPDATE</button>
                    <button type="submit" ng-click="profileForm.$valid && insert(profile)" class="btn btn-success" ng-show="new">CREATE</button>
                    <!--                    <button ng-click="clearDb(profile)" class="btn btn-default">RESET DATABASE</button>-->
                </div>
            </div>

            <div class="alert alert-info" role="alert">{{statusMessage}}</div>

        </form>

                <!--                <pre>master = {{master| json}}</pre>-->
    </div>
</div>



