<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
$Rev:: 1102          $:  Revision of last commit
$Author:: ai28       $:  Author of last commit
$Date:: 2010-10-01 1#$:  Date of last commit
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    classpath:core-data-annotation-context.xml
    classpath:core-data-datasource-context.xml
    classpath:core-profile-datasource-context.xml
    </param-value>
  </context-param>
  
  <listener>
    <listener-class>
		org.springframework.web.context.ContextLoaderListener
	</listener-class>
  </listener>
  
  <servlet>
    <display-name>KnowledgeRequestServlet</display-name>
  	<servlet-name>knowledgeRequestServlet</servlet-name>
  	<servlet-class>
  		org.springframework.web.context.support.HttpRequestHandlerServlet
  	</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>knowledgeRequestServlet</servlet-name>
  	<url-pattern>/infoRequest</url-pattern>
  </servlet-mapping>

</web-app>
