<div class="modal-header">
    <h3 class="modal-title">Enter your GitHub Username and API Key</h3>
</div>
<div class="modal-body">
    <form ng-submit="submit(gitUser, gitPassword)" class="form" name="github">
        <div class="form-group">
            <div class="input-group">
                <label for="gitUser">GitHub Username</label>
                <input type="text" class="form-control" id="gitUser" ng-model="gitUser" required>
            </div>
            <div class="input-group">
                <label for="gitPassword">GitHub API Key</label>
                <input type="password" class="form-control" id="gitPassword" ng-model="gitPassword" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div ng-show="github.$submitted && invalidUser">
            <span>Invalid Account.</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>