<style>
    .container .btn {
        margin-top: 25px;
    }

    .entry {
        display:inline;
    }

    .entry.name {
        position:absolute;
        left:43%;
    }

    .alert {
        margin-bottom: 0px;
    }
</style>
<div class="container" ng-controller="setupController">
    <div class="row">
        <div class="col-md-6">
            <h3>System Configuration</h3>
            <hr/>
            <form class="form" name="gitForm">
                <div class="form-group">
                    <div class="input-group">
                        <label for="hostName">Server Host Name</label>
                        <input type="text" class="form-control" id="hostName" name="hostPath" ng-model="hostName" required>
                        <span class="input-group-btn">
                            <button class='btn btn-default' type="submit" ng-click="setHostName(hostName)">Set</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <label for="gitRepo">Git Repository Path</label>
                        <input type="text" class="form-control" id="gitRepo" name="gitRepoPath" ng-model="gitRepo" placeholder="VHAINNOVATIONS/InfoButtons" required>
                        <span class="input-group-btn">
                            <button class='btn btn-default' type="submit" ng-click="setGitRepo(gitRepo)">Set</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <label for="profilestore">Profile Store Path</label>
                        <input type="text" class="form-control" id="profilestore" name="profilestorePath" ng-model="profilestore" placeholder="profilestore" required>
                        <span class="input-group-btn">
                            <button class='btn btn-default' type="submit" ng-click="setProfileStorePath(profilestore)">Set</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <label for="gitUser">Git Username</label>
                        <input type="text" class="form-control" id="gitUser" ng-disabled="true" value="{{gitUser.user}}">
                        <span class="input-group-btn">
                            <button class='btn btn-default' type="button" ng-click="changeGitUser()">Change</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <h3>Profile Configuration</h3>
            <hr/>
            <form class="form-inline" name="oidForm" ng-submit="addOids(orgOid, orgName)">
                <div class="form-group">
                    <div class="input-group">
                        <label for="orgOid">OID / DSN</label>
                        <input type="text" pattern="\d+(\.\d+)*" class="form-control" id="orgOid" name="orgOid" ng-model="orgOid" required>
                    </div>
                    <div class="input-group">
                        <label for="orgName">Organization's Name</label>
                        <input type="text" class="form-control" id="orgName" ng-model="orgName" required>
                        <span class="input-group-btn">
                            <button class='btn btn-default' type="submit">Add</button>
                        </span>
                    </div>
                    <alert ng-repeat="oid in oids" type="info" close="deleteOid($index)">
                        <div style="margin: 0 auto; position:relative;">
                            <div class="entry">{{oid.orgOid}}</div><div class="entry name">{{oid.orgName}}</div>
                        </div>
                    </alert>
                </div>
            </form>
        </div>
    </div>
</div>