<div class="modal-header">
    <h3 class="modal-title">Enter your UMLS API Key</h3>
</div>
<div class="modal-body">
    <form ng-submit="submit(umlsApiKey)" class="form" name="umls">
        <div class="form-group">
            <div class="input-group">
                <label for="umlsApiKey">UMLS Api Key</label>
                <input type="text" class="form-control" id="umlsApiKey" ng-model="umlsApiKey" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>