<div class="modal-header">
    <h3 class="modal-title">Enter your UMLS Username and Password</h3>
</div>
<div class="modal-body">
    <form ng-submit="submit(umlsUser, umlsPassword)" class="form" name="umls">
        <div class="form-group">
            <div class="input-group">
                <label for="umlsUser">UMLS Username</label>
                <input type="text" class="form-control" id="umlsUser" ng-model="umlsUser" required>
            </div>
            <div class="input-group">
                <label for="umlsPassword">UMLS Password</label>
                <input type="password" class="form-control" id="umlsPassword" ng-model="umlsPassword" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>