/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

/* animation */

.profile-listing.ng-enter,
.profile-listing.ng-leave,
.profile-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.profile-listing.ng-enter,
.profile-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.profile-listing.ng-move.ng-move-active,
.profile-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.profile-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.profile-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
