.linkDiv
{
    position:absolute;
    padding: 10px;
    top:100px;
    left:0px;
    width:250px;
    height: 750px;
    border: solid 1px black;
    background-color: #000063;
    font-family:Arial;
    font-size:11pt;
}

.linkDiv h3
{
    color: yellow;
    font-size:11pt
}
.linkDiv ul li a:link:hover {
    cursor: pointer;
    background-color: black;
    font-weight: bold;
}

.linkDiv a:visited, a:link
{
    color: yellow;
    border: none;
    outline: none;
    display: block;
    margin-top:0px;
    font-weight: bold;
}

.linkDiv ul li a:link
{
    color: white;
    border: none;
    outline: none;
    font-weight: normal;
    display: inline;
}

.linkDiv li
{
    color: White;
    margin-left: -10px;
}


.linkDiv ul
{
    margin-top: -10px;
}

.infoDiv
{
    position: absolute;
    top:100px;
    left:221px;
    width: 1000px;
    height: 750px;
}

#contentPanel
{
    height: 750px;
    width: 1000px;
}

.header
{
    position:absolute;
    width:1225px;
    top: 0px;
    left: 0px;
    height:100%;
    background-image: url('images/behind-banner.gif');
    background-repeat: repeat-x;
}

.logo
{
    width:996px;
    position:absolute;
    top: 0px;
    left: 0px;
    height:100%;
    background-image: url('images/inter-header-banner-print.gif');
    background-repeat: no-repeat;
}

